/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILS */

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    margin-left: -1rem;
    margin-right: -1rem;
}

[class*='col'] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-5 {
    width: calc(100% / 5);
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

/* ICONS */

.fa-facebook {
    color: #1A77F3;
}

.fa-twitter {
    color: #009EFF;
}

.fa-instagram {
    color: #DE3D78;
}

.fa-pinterest {
    color: #E6224C;
}

.fa-youtube {
    color: #E62222;
}

/* .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

    /* MOBILE */

/* HEADER */

.page-header {
    background-color: white;
}

.page-header h1 {
    color: #FF9614;
    font-size: 3rem;
    font-family:"Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    text-align: center;
}

/* MAIN */

.page-content {
    background-color: lightgray;
}

/* TOP MAIN */

.top-main {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.top-main .category {
    color: #A89A99;
}

.top-main .top-title {
    color: #4E3969;
    font-size: 2rem;
    font-weight: bold;
}

.top-main .top-title span {
    display: none;
}

/* CARD */

.card {
    background-color: white;
    width: 100%;
    display: block;
}

.card .video-card iframe{
    width: 100%;
    height: 275px;
}

.card .info-card {
    padding: 30px 20px;
}

.info-card .title-info {
    font-size: 1.3rem;
    font-weight: bold;
}

.info-card .info-list {
    padding-top: 25px;
}

.info-card .info-list li {
    padding: 10px 0;
    width: 100%;
}

/* SOCIAL */

.social {
    padding: 30px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.social .icon span {
    display: none;
    font-weight: bold;
}

.social .icon {
    background-color: white;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    flex: 1 1 0;
}

/* ADVERTISING */

.advertising {
    width: 100%;
    padding-bottom: 30px;
    display: none;
}

/* DESCRIPTION */

.description .title-description {
    font-size: 2rem;
    padding-bottom: 10px;
}

.description .separator {
    width: 90px;
    padding: 1px;
    background-color: #F7972E;
}

.description .description-content {
    text-align: center;
    padding: 20px 0;
}

.description .description-content img {
    width: 380px;
}

.description .description-content p {
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
    line-height: 35px;
}

    /* FOOTER */

.page-footer {
    background-color: #7C69A4;
    color: white;
    padding: 10px 40px;
}

.page-footer .info-company {
    text-align: center;
}

.page-footer .info-company .name-company {
    font-weight: bold;
    padding: 10px 0;
}

.page-footer .links {
    text-align: center;
}

.page-footer .links li {
    display: inline-block;
    padding: 10px 10px;
}

/* MOBILE LARGE */

@media screen and (min-width: 576px){

    /* Card */

    .card .video-card iframe{
        width: 100%;
        height: 350px;
    }

    /* Description */

    .description .description-content img {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .clearfix::after {
        content: '';
        display: table;
        clear: both;
    }
}



/* TABLET */

@media screen and (min-width: 768px) {

    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    /* Header */

    .page-header h1 {
        text-align: left;
    }

    /* Top Main */

    .top-main .top-title span {
        display: inline-block;
    }

    /* Card */

    .card .video-card iframe{
        width: 100%;
        height: 450px;
    }

    .info-card .info-list ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0rem;
    }

    .info-card .info-list li {
        width: calc(100% / 3);
    }

    /* Social */

    .social {
        gap: 25px;
    }

    /* Advertising */

    .advertising {
        display: block;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    .container {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
    
    /* Card */

    .card {
        display: flex;
    }

    .card .video-card {
        width: 70%;
    }

    .card .info-card {
        width: 30%;
    }

    .info-card .info-list li {
        padding: 10px 0;
        width: 100%;
    }

    /* Social */

    .social {
        gap: 20px;
    }

    .social .icon span {
        display: inline-block;
    }

    /* Description */

    .description .description-content p {
        padding: 0;
    }

    /* Footer */

    .page-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer .info-company {
        text-align: left;
    }
}