/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILS */

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    margin-left: -1rem;
    margin-right: -1rem;
}

[class*='col'] {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-5 {
    width: calc(100% / 5);
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

/* .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

    /* MOBILE */

/* HEADER */

.page-header {
    background-color: white;
}

.page-header h1 {
    color: #FF9614;
    font-size: 3rem;
    font-family:"Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    text-align: center;
}

/* MAIN */

.page-content {
    background-color: #F6F5F3;
}

.top-main {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.top-main .category {
    color: #A89A99;
}

.top-main .title-content {
    color: #4E3969;
    font-size: 2rem;
    font-weight: bold;
}

.card {
    width: 100%;
    display: block;
}

.card .video-card iframe{
    width: 100%;
}